h1 {
    color:rgb(252, 160, 124);
    display: flex;
    justify-content: center;
    padding: 50px;
    padding-top: 100px;
    position: relative;
    text-align: center;
    text-indent: -25%;
    text-shadow: -1px -1px 0 #ebc9c9, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-wrap: pretty;
    width: 100vw;
    z-index: 1;
}

body {
    background-image: url('vintage-214-valentine-s-day-love-letter-letter-paper-poster_2856682.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100vh;
    border: 2px rgb(255, 171, 185);
    justify-content: center;
}

div {
    display: flexbox;
    justify-content: center;
    margin: 20px auto;
    position: sticky;
    padding: 10px;
}

#titlewrapper {
    background-image:  url('b22007530bf81daccc2f43ba9b0516e2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    box-sizing: border-box;
    justify-content: center;
    margin-top: 10%;
    position: relative;
    z-index: 0;
}

#buttonwrapper {
    align-self: center;
    display: flex;
    flex: 1 100%;
    flex-basis: 40%;
    flex-direction: column;
    flex-flow: column wrap;
    margin: 0;
    width: 100%;
}

.button-container {
    background: linear-gradient(to right, #FFC7DC, #FF82AC);
    border: thick double rgb(218, 17, 17);
    font-size: 20px;
    height: 100px;
    justify-content: center;
    padding-left: 50px;
    padding-right: 85px;
    position: relative;
    width: 100px;
}

.button-container:before {
    background: linear-gradient(to right, #FFC7DC, #FF82AC);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.8s;
    opacity: 0.2;
}

.button-container:hover:before {
    opacity: 1;
}