#homepage {
    background-image: url('vintage-214-valentine-s-day-love-letter-letter-paper-poster_2856682.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100vh;
    background-color:rgb(255, 212, 225) ;
    border: 2px rgb(255, 171, 185);
    justify-content: center;
}

#yespage {
    background-image: url('video-from-rawpixel-id-20478284-gif.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    border: 2px rgb(255, 171, 185);
    justify-content: center;
}

div {
    display: flexbox;
    justify-content: center;
    margin: 10px auto;
    position: sticky;
    padding: 10px;
}

h1 {
    color:rgb(252, 160, 124);
    display: flex;
    justify-content: center;
    padding-left: 12%;
    padding-top: 19%;
    padding-bottom: 5%;
    max-width: 75%;
    position: relative;
    text-align: center;
    text-shadow: -1px -1px 0 #ebc9c9, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-wrap: pretty;
    width: 100vw;
    z-index: 1;
}

#titlewrapper {
    align-items: center;
    background-image:  url('b22007530bf81daccc2f43ba9b0516e2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    box-sizing: border-box;
    justify-content: center;
    margin-top: 10%;
    overflow-wrap: break-word;
    position: relative;
    z-index: 0;
}

#buttonwrapper {
    position: absolute;
    align-items: center;
    display: grid;
    vertical-align: middle;
    flex: 1 100%;
    flex-basis: 40%;
    flex-direction: column;
    flex-flow: column wrap;
    max-width: 50%;
    max-height: 100%;
    margin-left: 25%;
}

a:hover {
    color: rgba(0,0,0,0);
}

button {
    position: relative;
    background: linear-gradient(to right, #FFC7DC, #FF82AC);
    border: thick double rgb(218, 17, 17);
    border-radius: 15px; 
    display: inline-block;
    font-size: 20px;
    color:#53040f;
    height: 100px;
    justify-content: center;
    padding-left: 50px;
    padding-right: 85px;
    width: 100px;
    transition: top 0.5s ease-out, left 0.5s ease-out;
}


button:hover{
    display: block;
    background: rgba(247, 183, 204, 0.685);
}

#why-say-no {
    align-self: center;
    margin-left: 15%;
    margin-top: 50%;
    height: 200px;
    width: auto;
    position: absolute;
    justify-content: center;
    z-index: 10;
}

#click-yes {
    margin-left: -25%;
    margin-top: -25%;
    width: auto;
    position: absolute;
    z-index: 10;
}

#imagewrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

#bg-music {
    font-size: 20px;
    display: flex;
    color:rgb(218, 17, 17);
    justify-content: center;
    border: rgb(255, 104, 134);
    border-style: outset;
}

a {
    text-decoration: wavy;
}

#linkwrapper {
    background-color: #FFC7DC;
    text-align: center;
    border: thick double rgb(247, 132, 148);
    border-radius: 15px; 
    border-style: groove;
}

#ps {
    color: rgb(128, 15, 37);
    font-family: 'Courier New', Courier, monospace;
}

#location-marker {
    height: 100px;
    margin-top: 5%;
}

#locationwrapper {
    background-color: rgba(204, 241, 255, 0.829);
    margin-bottom: 10%;
    length: 100%;
    width: auto;
    display: flex;
}

#details-wrapper {
    position: relative;
    display: grid;
    color: rgb(201, 37, 91);
    font-size: 18px;
    font-weight: 600;
    text-shadow:2px 2px 5px #470d14a4; 
    padding-top: -10%;
    padding-bottom: -20%;
    text-align: center;
}

#details-header {
    text-align: center;
    color:aliceblue;
    font-size: 25px;
    text-shadow:2px 2px 5px #470d14a4;
    text-decoration: wavy;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color:rgb(224, 212, 188)
}

#details-header-wrapper {
    background-color:rgba(204, 241, 255, 0.829);
    margin-top: 20%;
    margin-bottom: -10px;
    height: 10px;
    z-index: 3;
}

#thanks {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: dotted;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    color:#ffffff;
}

#thanks-bg {
    background-color: #7a0b19;
    width: 50%;
    height: auto;
}